*.iml
.gradle
.gradle-user-home
.android-user-home
.kotlin
local.properties
.DS_Store

.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

.idea/gradle.xml
.idea/deploymentTargetSelector.xml

build
captures
.externalNativeBuild
.cxx
